
$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 500px;

:root {
  --black: #1A1D1E;
  --white: #FFFFFF;
  --blue: #42A9DE;
  --lgrey: #DCDCDC;
  --grey: #ACACAC;
  --red: #F44B61;
  --headerHmob: 7.8rem;
  --botHeaderH: 5.2rem;
  --lineNumb: 5;

  --headerItemDesc: 33.3rem;
  --headerItemMob: 19rem;
}



