.breadcrumbs {
  margin-top: 8rem;
  color: var(--grey);
  @include breakpoint($xl-bp) {
    display: none;
  }
  li {
    display: inline;
    margin-left: 1.6rem;

    &:hover {
      a {
        color: var(--blue);
      }
    }

    &::after {
      content: '>';
      margin-left: 2rem;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      color: var(--black);

      &::after {
        content: unset;
      }
    }
  }
}

.first-margin {
  margin-top: 4rem;
}

.actions-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  &>li {
    background: var(--white);
    box-shadow: 0px 0px 2rem rgba(26, 29, 30, 0.1);
    border-radius: 1rem;
    min-height: 50rem;
    padding: 5.7rem 4rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    @include breakpoint($xl-bp) {
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem;
      gap: 2rem;
    }

  }



  figure {
    width: 30rem;
    height: 30rem;
    display: block;
    flex: 0 0 auto;
    @include breakpoint($sm-bp) {
      width: 100%;
      height: 29.5rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.news + .mt-200 {
  margin-top: 16rem;
  @include breakpoint($xl-bp) {
    margin-top: 8rem;
  }
}