.regModal {
  transition: opacity .3s;
  will-change: opacity;
}

.opacity-0 {
  opacity: 0;
}

.close-button-style {
  position: absolute;
  top: 4rem;
  right: 4rem;
  width: 4rem;
  height: 4rem;
  border: 0;
  background-color: var(--white);
  padding: 0;
  &:hover {
    svg {
      stroke: var(--blue);
    }
  }
  @include breakpoint($xl-bp) {
    top: 2rem;
    right: 4rem;
  }
  @include breakpoint($sm-bp) {
    top: 2rem;
    right: 2rem;
    width: 3.2rem;
    height: 3.2rem;
  }

  svg {
    width: 100%;
    height: 100%;
    stroke-width: 2;
    stroke: var(--black);
    @include breakpoint($sm-bp) {
      stroke-width: 1;
    }
  }
}

.modal-overlay {
  background: rgba(26, 29, 30, 0.4);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-desc {
  margin-top: 2rem;
}

.modal-block {
  padding: 12rem;
  max-width: 96rem;
  position: relative;
  max-height: 100%;
  overflow: auto;
  &.--product {
    max-width: 124rem;
    padding: 8rem;
    @include breakpoint($xl-bp) {
      padding: 6rem 4rem;
    }
    @include breakpoint($sm-bp) {
      padding: 2rem;
      justify-content: flex-start;
    }
  }
  &.--details {
    max-width: 144rem;
    padding: 8rem;
    @include breakpoint($xl-bp) {
      padding: 6rem 4rem;

    }
    @include breakpoint($sm-bp) {
      padding: 2rem;
      justify-content: flex-start;
    }
  }
  @include breakpoint($xl-bp) {
    padding: 6rem 4rem;
  }
  @include breakpoint($sm-bp) {
    padding: 2rem;
    height: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.modal-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 4rem;
  margin-top: 4rem;
  @include breakpoint($sm-bp) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
}

#addProduct-content {
  .store-buttons {
    display: none;
  }

  .store-count {
    display: flex;
  }

  .checkbox-label {
    display: none;
  }
}

.modal-bot {
  display: flex;
  justify-content: space-between;
  @include breakpoint($xl-bp) {
    flex-direction: column;
  }
}

.modal-bot-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-bot-block {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  max-width: max-content;
  @include breakpoint($xl-bp) {
    width: 100%;
    max-width: 100%;
  }
}

.modal-block-buttons {
  display: flex;
  gap: 2rem;
  align-items: center;
  @include breakpoint($xl-bp) {
    flex-direction: column;
    margin-top: 4rem;
  }

  .page-button-white {
    padding-left: 2.65rem;
    padding-right: 2.65rem;
    min-width: 30rem;
    @include breakpoint($sm-bp) {
      min-width: 100%;
    }
  }
  .page-button {
    min-width: 30rem;
    @include breakpoint($sm-bp) {
      min-width: 100%;
    }
  }
}

.details-block {
  margin-top: 8rem;
  @include breakpoint($xl-bp) {
    margin-top: 4rem;
  }
}

.details-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.details-item {
  padding: 2rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 4rem;
  align-items: center;
  @include breakpoint($xl-bp) {
    grid-template-columns: max-content 1fr;
  }
}

.details-item-container {
  display: grid;
  grid-template-columns: 1fr minmax(20rem, 30rem);
  gap: 2rem;
  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
  }
}

.details-img {
  height: 8rem;
  width: 8rem;
  @include breakpoint($sm-bp) {
    width: 4rem;
    height: 4rem;
  }
}
.img-contain {
}
.details-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.details-code {
}
.details-name {
}
.details-wrap {
  display: flex;
  gap: 4rem;
  justify-self: flex-end;
  align-items: center;
}
.details-numb {
  @include breakpoint($xl-bp) {
    order: 1;
  }
}
.details-total {
}

.details-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  margin-top: 8rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    margin-top: 4rem;
  }
  & > div {
    display: flex;
    flex-direction: column;
  }
}

.total-cost-wrap {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  @include breakpoint($xl-bp) {
    margin-top: 4rem;
    align-items: flex-end;
  }
}

.total-cost {
  flex: 0 0 auto;
}