<section class="regModal modal-overlay opacity-0" hidden id="addProduct">
  <div class="modal-block --product page-block">

    <button class="close-button">
      <svg>
        <use href='#closeIcon'></use>
      </svg>
    </button>

    <h2 class="modal-title">Товар добавлен в корзину</h2>

    <div class="modal-product mt-80 page-block">

      <div class="modal-product-wrap">

        <div class="modal-product-container">
          <div class="h4 mobile-hidden">Hyperline</div>
          <div class="store-number text-grey"><span class="mobile-hidden">Код товара:</span> 52601</div>
        </div>

        <div href="#" class="img-contain modal-img">
          <img src="./assets/images/store/store-1.jpg" alt="store">
        </div>
  
      </div>

      <div class="modal-product-texts">
        <div class="store-text-1 text-grey">
          SHE-18IEC-6BIEC-3V-3PVR
        </div>
  
        <a href="#" class="store-text-2 h4">
          <span class="desctop-hidden">Hyperline</span> Блок розеток, вертикальный, 3 блока по 6 розеток IEC320 С13 + 2 розетки IEC320 С19
        </a>
  
        <div class="store-text-3">
          + авт. выключатель, кабель питания 3м (5х6.0мм2) с вилкой IEC 60309 32A (3P+N+E), 380В, 1556х68х44.4мм
          (ДхШхВ), корпус алюминий, черный
        </div>
      </div>

      <ul class="store-sublist mt-20">
        <li class="store-sublist-item justify-between">
          <div class="store-sublist-title text-grey">Стоимость (шт.)</div>
          <div class="store-price font-semibold">750₽</div>
        </li>
        <li class="store-sublist-item justify-between">
          <div class="store-sublist-title text-grey">от 25 000₽</div>
          <div class="store-price font-semibold">590₽</div>
        </li>
        <li class="store-sublist-item justify-between">
          <div class="store-sublist-title text-grey">от 100 000₽</div>
          <div class="store-price font-semibold">350₽</div>
        </li>
      </ul>

      <div class="store-buttons-wrapper">
        <form class="store-buttons">
          <button type="submit" data-modal="#addProduct" class="store-button page-button"><svg>
              <use href='#cartIcon2'></use>
            </svg>в корзину</button>
          <button type="submit" class="store-favor page-button-white"><svg>
              <use href='#favoriteIcon'></use>
            </svg></button>
        </form>
      </div>
    </div>

  </div>
</section>