<section class="regModal modal-overlay opacity-0" hidden id="addProduct"> 
  <div class="modal-block --product page-block">

    <button class="close-button close-button-style">
      <svg>
        <use href='#closeIcon'></use>
      </svg>
    </button>

    <div class="margin-auto">
      <h2 class="modal-title">Товар добавлен в корзину</h2>
  
      <!-- Copy of item -->
      <div class="--horizontal mt-80" id="addProduct-content">

      </div>
  
      <div class="modal-bot mt-80">
        <div class="modal-bot-wrap">
          <div class="modal-bot-block">
            <div class="text-grey">В вашей корзине</div>
            <div class="h4">1 товар</div>
          </div>
    
          <div class="modal-bot-block">
            <div class="text-grey">Итого </div>
            <div class="h4">7619.34 ₽</div>
          </div>
        </div>
  
        <div class="modal-block-buttons">
          <button class="page-button-white close-button">Вернуться к покупкам</button>
          <button class="page-button">перейти в корзину</button>
        </div>
      </div>
    </div>

  </div>
</section>