<section class="mt-200 callback custom-feedback">
  <div class="container2 callback-container">
    <div class="callback-left">
      <h2 class="callback-title">Нужна консультация?</h2>

      <div>У вас есть вопросы? Наши специалисты с радостью вам помогут. Оставьте заявку, мы свяжемся с вами в ближайшее
        время и проконсультируем по всем интересующим вопросам</div>
    </div>

    <form class="callback-right">
      <input type="text" name="name" class="page-input" placeholder="Имя" required>
      <input type="text" name="emailorphone" class="page-input" placeholder="E-mail или телефон" required>
      <input type="text" name="message" class="page-input col-span-2" placeholder="Текст вопроса (необязательно)">
      <div class="callback-form-text">
        <p>Оставляя заявку, вы соглашаетесь с <a href="#">Политикой обработки персональных данных</a></p>
        <button type="submit" class="callback-button h4">Оставить заявку</button>
      </div>
    </form>
  </div>
  <div class="custom-feedback-container container2">
    <h2>Спасибо! </h2>
    <div>Ваша заявка отправлена. В скором времени мы с вами свяжемся.</div>
  </div>
</section>