<section class="regModal modal-overlay opacity-0" hidden id="consultModal">
  <div class="modal-block page-block">

    <button class="close-button">
      <svg>
        <use href='#closeIcon'></use>
      </svg>
    </button>

    <h2 class="modal-title">Нужна консультация?</h2>

    <div class="modal-desc">
      У вас есть вопросы? Наши специалисты с радостью вам помогут. Оставьте заявку, мы свяжемся с
      вами в ближайшее время и проконсультируем по всем интересующим вопросам
    </div>

    <form action="#" class="modal-form">
      <input type="text" name="name" class="page-input" placeholder="Имя" required>
      <input type="text" name="emailorphone" class="page-input" placeholder="E-mail или телефон" required>
      <input type="text" name="message" class="page-input col-span-2" placeholder="Текст вопроса (необязательно)">
      <div class="callback-form-text">
        <p>Оставляя заявку, вы соглашаетесь с <a href="#" class="underline">Политикой обработки персональных данных</a></p>
        <button type="submit" class="page-button h4">Оставить заявку</button>
      </div>
    </form>

  </div>
</section>