<section class="regModal modal-overlay opacity-0" hidden id="detailsModal">
  <div class="modal-block --details page-block">

    <button class="close-button close-button-style">
      <svg>
        <use href='#closeIcon'></use>
      </svg>
    </button>

    <div class="margin-auto">
      <h2 class="details-title">Детали заказа</h2> 
  
      <div class="details-block">
  
        <h3 class="h3 text-grey">Товары</h3>
  
        <ul class="details-list">
  
          <li class="details-item page-block">
            <div class="details-img img-contain">
              <img src="./assets/images/store/store-1.jpg" alt="store">
            </div>
            <div class="details-item-container">
              <div class="details-text">
                <div class="details-code text-grey">Код товара: 52601</div>
                <div class="details-name h4">HYPERLINE Фальш-панель с щеточным вводом</div>
              </div>
              <div class="details-wrap">
                <div class="details-numb">1 шт</div>
                <div class="details-total h3">7619.34 ₽</div>
              </div>
            </div>
          </li>
  
          <li class="details-item page-block">
            <div class="details-img img-contain">
              <img src="./assets/images/store/store-1.jpg" alt="store">
            </div>
            <div class="details-item-container">
              <div class="details-text">
                <div class="details-code text-grey">Код товара: 52601</div>
                <div class="details-name h4">HYPERLINE Фальш-панель с щеточным вводом</div>
              </div>
              <div class="details-wrap">
                <div class="details-numb">1 шт</div>
                <div class="details-total h3">7619.34 ₽</div>
              </div>
            </div>
          </li>
  
        </ul>
      </div>
  
      <div class="details-columns">
        <div>
          <h3 class="h3 text-grey">Доставка</h3>
    
          <div class="mt-20">
            Регионы. Адрес доставки:
            <div class="h5 mt-5">Какая-то обл., г. Какой-то, ул. Деловая, д. 11, кв. 99</div>
          </div>
    
          <div class="mt-20">
            Срок доставки
    
            <div class="h5 mt-5">2-5 дней</div>
          </div>
    
          
          <div class="mt-20">
            Стоимость доставки
    
            <div class="h5 mt-5">1050 ₽</div>
          </div>
    
        </div>
  
        <div>
          <h3 class="h3 text-grey">Оплата</h3>
    
  
            <div class="h5 mt-20">безналичный расчет</div>
  
    
          <div class="mt-20 mob-mt-10 text-grey">
            В ближайшее время с вами свяжется наш консультант и расскажет, как оплатить заказ
          </div>
    
          
          <div class="h3 total-cost-wrap">
            <div class="text-grey">Итоговая стоимость</div>
    
            <div class="total-cost">16 619.34 ₽</div>
          </div>
    
        </div>
      </div>
    </div>
</section>