

<footer class="footer container2">
  <div class="justify-between">
    <a href="#" class="footer-logo img-contain">
      <img src="./assets/images/logo/logo-footer.svg" alt="logo">
    </a>

    <a href="#" class="footer-top-button h4">наверх</a>
  </div>

  <div class="footer-mid text-white">
    <nav>
      <ul>
        <li>
          <ul>
            <li class="h5">Адрес</li>
            <li>г. Москва, ул. Деловая, 11</li>
            <li><a href="#" class="h5"><svg>
                  <use href='#mapIcon'></use>
                </svg> Схема проезда</a></li>
          </ul>
        </li>
  
        <li>
          <ul>
            <li class="h5">Телефон</li>
            <li><a href="tel:+84957798475" class="phone">8 (495) 779-84-75</a></li>
          </ul>
        </li>
  
        <li>
          <ul>
            <li class="h5">ICQ</li>
            <li>657355829</li>
            <li>675829971</li>
          </ul>
        </li>
  
        <li>
          <ul>
            <li class="h5">E-mail</li>
            <li><a href="mailto:7798475@mail.ru" class="underline">7798475@mail.ru</a></li>
            <li><a href="mailto:info@hiperlan.ru" class="underline">info@hiperlan.ru</a></li>
          </ul>
        </li>
      </ul>

      <div class="footer-info text-grey">Размещенная на сайте информация не является публичной офертой</div>
    </nav>

    <nav>
      <ul>
        <li><a href="#" class="h5">Каталог</a></li>

        <li>
          <ul>
            <li><a href="#">Шкафы и стойки</a></li>
            <li><a href="#">Кабель</a></li>
            <li><a href="#">Пульты и техническая мебель</a></li>
            <li><a href="#">Всепогодные шкафы</a></li>
            <li><a href="#">Компоненты медных систем</a></li>
            <li><a href="#">Компоненты оптических систем</a></li>
            <li><a href="#">Компоненты силовых систем</a></li>
            <li><a href="#">Кабеленесущие системы</a></li>
            <li><a href="#">Активное сетевое оборудование</a></li>
            <li><a href="#">ИБП, сетевые фильтры</a></li>
            <li><a href="#">Видеонаблюдение</a></li>
            <li><a href="#">Мониторинг и управление</a></li>
            <li><a href="#">Инструменты и приборы</a></li>
            <li><a href="#">Крепеж и маркировка</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <nav>
      <ul>
        <li><a href="#" class="h5">Бренды</a></li>
        <li>
          <ul>
            <li><a href="#">Hyperline</a></li>
            <li><a href="#">ZPAS</a></li>
            <li><a href="#">PANDUIT</a></li>
            <li><a href="#">SIEMON</a></li>
            <li><a href="#">BELDEN</a></li>
            <li><a href="#">AXELENT</a></li>
            <li><a href="#">TELDOR</a></li>
            <li><a href="#">DKC</a></li>
            <li><a href="#">ELBOX</a></li>
            <li><a href="#">REM</a></li>
            <li><a href="#">BRANDY</a></li>
            <li><a href="#">REXANT</a></li>
            <li><a href="#">3M</a></li>
            <li><a href="#">Все бренды</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <nav>
      <ul>
        <li><a href="#" class="h5">Компания</a></li>
        <li>
          <ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Как сделать заказ</a></li>
            <li><a href="#">Оплата и доставка</a></li>
            <li><a href="#">Полезная информация</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </li>
        <li><button class="h5 footer-callback footer-link" data-modal="#consultModal"><svg><use href='#callbackIcon2'></use></svg>Обратная связь</button></li>
        <li><a href="#" class="h5 footer-link"><svg><use href='#downloadIcon2'></use></svg>Скачать прайс-лист</a></li>
        <li><button class="h5 footer-link"><svg><use href='#searchIcon2'></use></svg>Поиск по сайту</button></li>
        <li><a href="#" class="h5 footer-link"><svg><use href='#enterIcon2'></use></svg>Личный кабинет</a></li>
      </ul>
    </nav>
  </div>

  <div class="footer-info-mobile text-grey">Размещенная на сайте информация не является публичной офертой</div>

  <div class="footer-bot text-grey">
    <div>© HiperLAN, продажа и доставка сетевого оборудования</div>

    <ul>
      <li><a href="#">Политика конфиденциальности</a></li>
      <li><a href="#">Разработка сайта: Студия ЯР</a></li>
    </ul>
  </div>
</footer>