<div class="menu container" id="menu">
  <ul class="menu-list">
    <li>
      <a href="#">
        <svg><use href='#downloadIcon'></use></svg>
        Скачать прайс-лист
      </a>
    </li>

    <li>
      <button data-modal="#consultModal">
        <svg><use href='#phoneIcon'></use></svg>
        Обратная связь
      </button>
    </li>

    <li>
      <a href="#">
        <svg><use href='#enterIcon'></use></svg>
        Личный кабинет
      </a>
    </li>
  </ul>

  <ul class="menu-list --blue">
    <li>
      <a href="mailto:7798475@mail.ru">
        7798475@mail.ru
      </a>
    </li>

    <li>
      <a href="mailto:info@hiperlan.ru">
        info@hiperlan.ru
      </a>
    </li>

    <li>
      <a href="tel:+84957798475">
        8 (495) 779-84-75
      </a>
    </li>
  </ul>
</div>