<!DOCTYPE html>
<html lang="ru" class="font-opacity">

<head>
  {{> head }}

  
  <script>
    if (document && document.fonts) {
      setTimeout(function () {
        document.fonts.ready.then(function () {
          document.documentElement.classList.remove("font-opacity");
        });
      }, 0);
    } else {
      document.documentElement.classList.remove("font-opacity");
    }
  </script>
</head>

<body>
  {{> sprite }}

  <div class="page">
    <!-- Header -->

    {{> header }}

    <!-- Main content -->
    <main>

      {{> body }}

    </main>

  </div>

  <!-- Consult modal -->
  {{> consult-modal}}

  <!-- Product in cart modal -->
  {{> addProduct}}

  <!-- Feedback modal -->
  {{> feedback}}

  <!-- Details modal -->
  {{> detailsModal}}


  <!-- JS -->

  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/temp.js"></script>
</body>

</html>